In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv('titanic.csv')[['Age','Pclass','SibSp','Parch','Survived']]
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [3]:
df.isnull().sum()

Age         177
Pclass        0
SibSp         0
Parch         0
Survived      0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
cross_val_score(LogisticRegression(),df.drop(['Survived'],axis=1),df[['Survived']],scoring='accuracy').mean()

/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6862897665714567

### Feature Construction

In [6]:
df['Family'] = df['SibSp']+df['Parch']+1

In [7]:

def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [8]:
df['Family_type'] = df['Family'].apply(myfunc)

In [9]:
df.head()

    Age  Pclass  SibSp  Parch  Survived  Family  Family_type
0  22.0       3      1      0         0       2            1
1  38.0       1      1      0         1       2            1
2  26.0       3      0      0         1       1            0
3  35.0       1      1      0         1       2            1
4  35.0       3      0      0         0       1            0

In [10]:
df.drop(['SibSp','Parch','Family'],axis=1,inplace=True)

In [11]:
cross_val_score(LogisticRegression(),df.drop(['Survived'],axis=1),df[['Survived']],scoring='accuracy').mean()
# some what accuracy is increased

/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/janardhan/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6988574805476213

In [12]:
df.head()

    Age  Pclass  Survived  Family_type
0  22.0       3         0            1
1  38.0       1         1            1
2  26.0       3         1            0
3  35.0       1         1            1
4  35.0       3         0            0

### feature splitting

In [13]:
df = pd.read_csv('titanic.csv',usecols=['Name','Survived'])
df.head()

   Survived                                               Name
0         0                            Braund, Mr. Owen Harris
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2         1                             Heikkinen, Miss. Laina
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4         0                           Allen, Mr. William Henry

In [16]:
df['Title'] = df['Name'].str.split(', ',expand=True)[1].str.split('. ',expand=True)[0]

In [18]:
df.groupby(by=['Title']).mean(numeric_only=True)['Survived'].sort_values(ascending=True)

Title
Capt        0.000000
Don         0.000000
Jonkheer    0.000000
Rev         0.000000
Mr          0.156673
Dr          0.428571
Col         0.500000
Major       0.500000
Master      0.575000
Miss        0.697802
Mrs         0.792000
Mme         1.000000
Sir         1.000000
Ms          1.000000
Lady        1.000000
Mlle        1.000000
th          1.000000
Name: Survived, dtype: float64