In [3]:
import pandas as pd

In [5]:
boston = pd.read_csv('HousingData.csv')
boston.dropna(inplace=True)
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6,391,19.2,396.90,14.33,16.8
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0

In [6]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

In [14]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

x = boston.iloc[:,:-1].values
y = boston.iloc[:,-1].values
estimators = [('lr',lr),('dt',dt),('svr',svr)]

for name,obj in estimators:
    r2 = cross_val_score(obj,x,y,cv=10,scoring='r2').mean()
    print(name,r2)

lr 0.293325960147299
dt 0.09322545178727629
svr -0.36976101650112825

In [15]:
from sklearn.ensemble import VotingRegressor
estimators = [('lr',lr),('dt',dt),('svr',svr)]
vr = VotingRegressor(estimators=estimators)
r2 = cross_val_score(vr,x,y,cv=10,scoring='r2').mean()
r2

0.40521767732014347

In [16]:
import numpy as np

for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vr = VotingRegressor(estimators=estimators,weights=[i,j,k])
            r2 = cross_val_score(vr,x,y,cv=10,scoring='r2').mean()
            print(i,j,k,np.round(r2,2))

1 1 1 0.41
1 1 2 0.29
1 1 3 0.2
1 2 1 0.36
1 2 2 0.34
1 2 3 0.26
1 3 1 0.39
1 3 2 0.34
1 3 3 0.31
2 1 1 0.45
2 1 2 0.36
2 1 3 0.3
2 2 1 0.47
2 2 2 0.39
2 2 3 0.33
2 3 1 0.44
2 3 2 0.42
2 3 3 0.34
3 1 1 0.42
3 1 2 0.38
3 1 3 0.33
3 2 1 0.45
3 2 2 0.44
3 2 3 0.37
3 3 1 0.44
3 3 2 0.44
3 3 3 0.39

In [17]:
dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=2)
dt3 = DecisionTreeRegressor(max_depth=3)
dt4 = DecisionTreeRegressor(max_depth=4)
dt5 = DecisionTreeRegressor(max_depth=5)

estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]
for name,obj in estimators:
    r2 = cross_val_score(obj,x,y,cv=10,scoring='r2').mean()
    print(name,r2)

dt1 -0.9126798885417464
dt2 0.08570579837067252
dt3 0.05675713785100298
dt4 0.2299249460708935
dt5 0.22059804203328537

In [18]:
vr = VotingRegressor(estimators = estimators)
cross_val_score(vr,x,y,cv=10,scoring='r2').mean()

0.14338810370520833