In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('play_tennis.csv')
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [3]:
# Probelm 1
# outlook=sunny, temp = hot,humidity=high,wind=weak
# play or noplay ?

In [4]:
# solution
# p(yes/(sunny,hot,high,weak)) = p(sunny/yes)*p(hot/yes)*p(high/yes)*p(weak/yes)*p(yes)
# p(no/(sunny,hot,high,weak)) = p(sunny/no)*p(hot/no)*p(high/no)*p(weak/no)*p(no)

In [5]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
p_yes = 9/14
p_no = 5/14

In [7]:
pd.crosstab(index=df['outlook'],columns=df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
p_overcast_no = 0
p_rain_no = 2/5
p_sunny_no = 3/5

p_overcast_yes = 4/9
p_rain_yes = 3/9
p_sunny_yes = 2/9

In [10]:
pd.crosstab(index=df['temp'],columns=df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [11]:
p_cool_no = 1/5
p_hot_no = 2/5
p_mild_no = 2/5

p_cool_yes = 3/9
p_hot_yes = 2/9
p_mild_yes = 4/5

In [12]:
pd.crosstab(index=df['humidity'],columns=df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [13]:
p_high_no = 4/5
p_normal_no = 1/5

p_high_yes = 3/9
p_normal_yes = 6/9

In [14]:
pd.crosstab(index=df['wind'],columns=df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [15]:
p_strong_no = 3/5
p_weak_no = 2/5

p_strong_yes = 3/9
p_weak_yes = 6/9

In [16]:
# Probelm 1
# outlook=sunny, temp = hot,humidity=high,wind=weak
# play or noplay ?

In [18]:
pred_yes = p_sunny_yes*p_hot_yes*p_high_yes*p_weak_yes
pred_no = p_sunny_no*p_hot_no*p_high_no*p_weak_no

In [19]:
print(pred_yes)
print(pred_no)

0.010973936899862823
0.07680000000000001

In [20]:
# no has high prob
print("no play")

no play